{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 20, "knowledge_revision": 72, "git_revision": "504fa81db9357fd9d74c4ebc8b29dd949fb5d75c", "hash": "d4b66e817de731ba5aec61f5097419ed", "format-version": 4, "code-base-name": "/home/kavia/workspace/cm4c958fe4/ares-KAVIA", "filename": "requirements.txt", "revision_history": [{"72": "504fa81db9357fd9d74c4ebc8b29dd949fb5d75c"}]}